/* COMMONS */

/* VARIABLES */


body {
    font-family: 'Roboto', sans-serif;
}

:root{
    --sidebar-color: #051E34;
    --sidebar-width: 60px;
    --sidebar-width-lg: 150px;
    --header-color: #FFFFFF;
    --header-height: 70px;
    --navbarblue-top-color:#1B72E8;
    --navbarblue-top-height: 70px;
    --bell-color: #FF8F00;
    --btn-color: #165BBA;
}
.wrapper{
    height: 100vh;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color: white;
    display: inline-block;
}
ul{
    list-style-type: none;
}
/* HEADER */
header {
    width: 100%;
    height: var(--header-height);
}
.form-control{
    padding: 0.30rem .75rem;
}

.bell{
    color: var(--bell-color);
}
.logo {
    height: 100%;
}

.logo > * {
    width: var(--header-height);
    
}
.logo-normal img {
    /* max-width: none; */
    width: 200px;
}
.input-group > .form-control{
    box-shadow: none; 
    border-color: initial;
    border-color: lightgray;
    background-color: lightgray;
}
.input-group-text{
    background-color: lightgray; 
}

/* SIDEBAR */
#sidebar{
    /* width: var(--sidebar-width); */
    width: 150px;
    background-color: var(--sidebar-color);
    height:calc(100vh - var(--header-height));
}

#home {
    width: 100%;
}
#settins {
    width: 100%;
}
/* MAIN CONTENT */
#main-content{
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
}
   /*NAVBAR BLUE  */
#navbar-blue{
    width: 100%;
    /* height: var(--navbarblue-top-height); */
    background-color: var(--navbarblue-top-color);
}
.btn-primary{
background-color: black;
opacity: 0.2;
}
/* MAIN SECTION */
/* TABLE  */

table img {
    width: 20px;
}
.ms_done{
    background-color: #198754;
    /* width: 40px; */
    /* border-radius: 3px; */
}
.ms_process{
    background-color: #FFC107;
}

.ms_failed{
    background-color: #DC3545;
}

.table .btn{
    border-color: black;
}

